# version: '3.8'
services:
  db:
    image: postgres:15
    container_name: postgres_db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: django_backend
    #command: >
     # sh -c "python manage.py makemigrations &&
      #       python manage.py migrate &&
       #      python manage.py collectstatic --noinput &&
        #     gunicorn scraper.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - ./backend:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: db #### Adjusted to use environment variable
      DB_PORT: ${DB_PORT}
      TZ: America/Santiago
      DJANGO_SETTINGS_MODULE: scraper.settings
      PYTHONUNBUFFERED: 1

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
    container_name: react_frontend
    command: sh -c "npm run build && serve -s build -l 3000"
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      REACT_APP_API_URL: http://localhost:8000

volumes:
  postgres_data:
  static_volume:
  media_volume:
